    <nav>
    <a href="https://github.com/jtowne01" target="_blank">GitHub</a> |
    <a href="https://jtowne01.github.io/" target="_blank">GitHub.io</a> |
    <a href="https://jtowne01.github.io/Web115.io/" target="_blank">Web115.io</a> |
    <a href="https://www.freecodecamp.org/jtowne01" target="_blank">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/jtowne01" target="_blank">Codecademy</a> |
    <a href="https://jsfiddle.net/u/jtowne01" target="_blank">JSFiddle</a> |
    <a href="https://github.com/jtowne01/jtowne01.github.io/blob/main/Web140" target="_blank">LinkedIn</a>
    </nav>
    <p>&copy; Page Built by Jason Towne, 2024</p>
